.landing__item{
    scroll-snap-align: center;
    flex: 1 1;
    min-width: 360px;
    margin: 0 0 0 10px;
    opacity: 1;
    .img{
        width: 90%;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }

    }
    .body{
        margin-top: 20px;
        text-align: center;
        p{
            font-size: 18px;
            margin-top: 5px;
        }
    }
}


@media screen and (max-width:360px){

    .item{
        min-width: 160px;
        margin: 0;
    }
}