@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;400&display=swap');

.nav{
    z-index: 300;
    .container{
        .wrapper{
            display: flex;   
            justify-content: space-between;
            align-items: center;
            padding:10px 15px;
            .logo{
                display: flex;
                align-items: center;
                h3{
                    margin: 0 0 0 7px;
                    padding: 0;
                }
                svg{
                    font-size: 42px;
                    color: #000;
                    background-color: #d2331e;
                    border-radius: 50%;
                    padding: 5px;
                }
            }
            .menu__icon{
                display: flex;
                justify-content: flex-start;
                .icon{
                    font-size: 36px;
                    cursor: pointer;
                }
            }
            .cart__div{
                .cart{
                    margin-left: 10px;
                }
                .icon{
                    font-size: 32px;
                    font-weight: 400;
                    color: rgb(28, 33, 34);
                    @media screen and (max-width:360px){
                        font-size: 26px;
                    }
                }
            }
        }
        .menu{
            position: relative;
            .show__menu{
                display: block !important;
            }
            .menu__list{
                display: none;
                position: absolute;
                top: 0px;
                left: 0;
                width: 100%;
                background-color:#fff;
                max-height: fit-content;
                box-shadow: 0px 1px 3px lightgrey;
                ul{
                    padding:0;
                    li{
                        padding: 10px 20px;
                        border-bottom: 1px solid rgb(224, 224, 224);
                        list-style: none;
                        margin: 20px 0 0;
                    }
                }
            }
        }
        .flash__sale{
            background-color: rgb(2, 14, 22);
            width: 100%;
            padding:15px 7px;
            p{
                font-family: 'Jost', sans-serif;
                font-weight: 500;
                font-size: 16px;
                color: #fff;
                text-align: center;
                line-height: 1.5em;
            }
            a{
                color: chocolate;
                cursor: pointer;
            }
        }
    }
}