@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;400&display=swap');

.products__section{
    margin: 30px 0;
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 20px;
        width: 90%;
        margin: 0 auto;
        .item{
            box-shadow: 0px 1px 3px rgb(184, 183, 183);
            a{
                text-decoration: none;
                color: inherit;
            }
            .img{
                position: relative;
                width: 100%;
                margin: 0 auto;
                padding: 10px;
                box-shadow: 0px 1px 3px rgb(219, 219, 219);
                img{
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                }
        
                .purchase__icon{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    box-shadow: 0px 2px 2px grey;
                    background-color: #fff;
                    width: 100%;
                    margin: 0 auto;
                    padding:10px 15px;
                    svg{
                        font-size: 26px;
                        color:#171613;
                        cursor: pointer;
                    }
                }
            }
            .body{
                margin-top: 20px;
                padding: 10px;
                p{
                    font-family: 'Jost', sans-serif;
                    max-width: fit-content;
                    cursor: pointer;
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width:360px){
    .item{
        min-width: 160px;
        margin: 0;
    }
}