.login .header {
  margin: 20px 0 10px;
  text-align: center;
}

.login .header h2 {
  text-transform: capitalize;
  font-weight: 500;
  color: #1b1b1b;
}

.login .container {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #171613;
}

.login .container .login__form {
  width: 90%;
  margin: 0px auto;
}

.login .container .login__form form {
  margin: 20px 0;
  width: 100%;
}

.login .container .login__form form .form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0 20px;
}

.login .container .login__form form .form__group .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .container .login__form form .form__group .wrapper a {
  color: #333333;
  text-decoration: underline;
  cursor: pointer;
}

.login .container .login__form form .form__group label {
  text-transform: capitalize;
  margin: 7px 0;
  font-weight: 500;
}

.login .container .login__form form .form__group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d1d1;
  background-color: #fff;
}

.login .container .login__form form .error__alert {
  background-color: #fce5e5;
  padding: 5px 10px;
  width: 100%;
}

.login .container .login__form form .error__alert p {
  color: red;
  font-size: 14px;
}

.login .container .login__form form .submit__btn {
  width: 100%;
  text-align: center;
  background-color: #171613;
  cursor: pointer;
  margin: 20px 0 10px;
}

.login .container .login__form form .submit__btn button {
  color: #fff;
}

.login .container .create__new__Account__form {
  background-color: #f0f0f0;
  margin: 70px 0 30px;
  color: #252525;
}

.login .container .create__new__Account__form .wrapper {
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
}

.login .container .create__new__Account__form .wrapper .title h2 {
  margin: 0px 0 10px;
  font-weight: 500;
}

.login .container .create__new__Account__form .wrapper .submit__btn {
  width: 100%;
  text-align: center;
  background-color: #171613;
  cursor: pointer;
  margin: 20px 0 10px;
}

.login .container .create__new__Account__form .wrapper .submit__btn button {
  color: #fff;
}

.login .container .create__new__Account__form .wrapper .value__for__signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin: 20px 0;
}

.login .container .create__new__Account__form .wrapper .value__for__signup .group {
  margin: 0px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .container .create__new__Account__form .wrapper .value__for__signup span {
  text-transform: capitalize;
  padding-left: 10px;
}

@media screen and (min-width: 480px) {
  .login {
    max-width: 85%;
    margin: 0 auto;
  }
  .login .container .login__form {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .login {
    max-width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .login {
    max-width: 100%;
    padding: 0px 30px;
  }
  .login .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 0 20px;
    margin-bottom: 30px;
  }
  .login .container .login__form {
    padding: 0 20px;
  }
  .login .container .create__new__Account__form {
    margin: 20px 0 0;
  }
}

@media screen and (min-width: 1200px) {
  .login {
    padding: 0px 30px;
    max-width: 75%;
  }
  .login .container .create__new__Account__form .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "title value" "btn value";
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .login .container .create__new__Account__form .wrapper .submit__btn {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: btn;
    vertical-align: top;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .login .container .create__new__Account__form .wrapper .submit__btn button {
    width: 90%;
    background-color: #171613;
  }
  .login .container .create__new__Account__form .wrapper .value__for__signup {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: value;
    padding-left: 10px;
    margin: 10px 0 0px;
  }
  .login .container .create__new__Account__form .wrapper .value__for__signup .group {
    margin: 0 0 30px;
  }
  .login .container .create__new__Account__form .wrapper .title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=login.css.map */