.login .container {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #171613;
}

.login .container .header {
  margin: 20px 0 10px;
  text-align: center;
}

.login .container .header h2 {
  text-transform: capitalize;
  font-weight: 500;
  color: #1b1b1b;
}

.login .container .login__form {
  width: 90%;
  margin: 0px auto;
}

.login .container .login__form form {
  margin: 20px 0;
  width: 100%;
}

.login .container .login__form form .form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px 0 10px;
}

.login .container .login__form form .form__group .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .container .login__form form .form__group .wrapper a {
  color: #333333;
  text-decoration: underline;
  cursor: pointer;
}

.login .container .login__form form .form__group label {
  text-transform: capitalize;
  margin: 7px 0;
  font-weight: 500;
}

.login .container .login__form form .form__group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  cursor: pointer;
}

.login .container .login__form form .error__alert {
  background-color: #fce5e5;
  padding: 5px 10px;
  width: 100%;
}

.login .container .login__form form .error__alert p {
  color: red;
  font-size: 14px;
}

.login .container .login__form form .submit__btn {
  width: 100%;
  text-align: center;
  background-color: #171613;
  cursor: pointer;
  margin: 20px 0 10px;
}

.login .container .login__form form .submit__btn button {
  color: #fff;
}

.login .container .create__new__Account__form {
  background-color: #f0f0f0;
  margin-top: 70px;
  color: #252525;
}

.login .container .create__new__Account__form .wrapper {
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
}

.login .container .create__new__Account__form .wrapper .title h2 {
  margin: 0px 0 10px;
  font-weight: 500;
}

.login .container .create__new__Account__form .wrapper .submit__btn {
  width: 100%;
  text-align: center;
  background-color: #171613;
  cursor: pointer;
  margin: 20px 0 10px;
}

.login .container .create__new__Account__form .wrapper .submit__btn button {
  color: #fff;
}

.login .container .create__new__Account__form .wrapper .value__for__signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin: 20px 0;
}

.login .container .create__new__Account__form .wrapper .value__for__signup .group {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .container .create__new__Account__form .wrapper .value__for__signup span {
  text-transform: capitalize;
  padding-left: 10px;
}
/*# sourceMappingURL=login.css.map */