.large__nav .container {
  padding: 10px 0 0;
}

.large__nav .container .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 15px 30px 10px 20px;
}

.large__nav .container .wrapper .gender__title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.large__nav .container .wrapper .gender__title ul li {
  text-transform: capitalize;
  list-style: none;
  margin: 0 10px;
  font-size: 1.5rem;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.large__nav .container .wrapper .gender__title ul .men__li, .large__nav .container .wrapper .gender__title ul .women__li {
  font-weight: 900;
}

.large__nav .container .wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.large__nav .container .wrapper .logo a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.large__nav .container .wrapper .logo h3 {
  margin: 0 0 0 7px;
  padding: 0;
  font-size: 2rem;
}

.large__nav .container .wrapper .logo svg {
  font-size: 42px;
  color: #000;
  background-color: #ff4343;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.large__nav .container .wrapper .cart__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.large__nav .container .wrapper .cart__div .larger__screen__auth {
  position: relative;
}

.large__nav .container .wrapper .cart__div .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.large__nav .container .wrapper .cart__div .group svg {
  font-size: 1.5rem;
  margin: 0 10px;
  cursor: pointer;
}

.large__nav .container .wrapper .cart__div .cart__body__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.large__nav .container .wrapper .cart__div .cart__body__div p {
  position: absolute;
  top: -7px;
  right: -5px;
  border-radius: 50%;
  padding: 3px 7px;
  background-color: #ad1818;
  color: #e2e2e2;
  font-weight: bold;
  font-size: 14px;
}

.large__nav .container .menu {
  padding: 15px 30px 10px 20px;
  background-color: #dddddd;
  margin-top: 10px;
}

.large__nav .container .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.large__nav .container .menu ul li {
  text-transform: capitalize;
  list-style: none;
  margin: 0 20px;
  font-size: 1rem;
  cursor: pointer;
  color: #3b3b3b;
  letter-spacing: 1.5px;
}

.large__nav .container .women__menu {
  display: none;
}

.large__nav .container .show__women__menu {
  display: block !important;
}

.large__nav .container .men__menu {
  display: none;
}

.large__nav .container .show__men__menu {
  display: block !important;
}
/*# sourceMappingURL=largeNav.css.map */