@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;400&display=swap");
.small__nav .container {
  position: relative;
}

.small__nav .container .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
  opacity: 0.5;
  z-index: 5;
}

.small__nav .container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  z-index: 4;
}

.small__nav .container .wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.small__nav .container .wrapper .logo a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.small__nav .container .wrapper .logo h3 {
  margin: 0 0 0 7px;
  padding: 0;
}

.small__nav .container .wrapper .logo svg {
  font-size: 42px;
  color: #000;
  background-color: #ff4343;
  border-radius: 50%;
  padding: 5px;
}

.small__nav .container .wrapper .menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.small__nav .container .wrapper .menu__icon .icon {
  font-size: 36px;
  cursor: pointer;
}

.small__nav .container .wrapper .cart__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
}

.small__nav .container .wrapper .cart__div .bigger__screen__auth {
  display: none;
}

.small__nav .container .wrapper .cart__div .bigger__screen__auth .auth__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.small__nav .container .wrapper .cart__div .bigger__screen__auth .auth__pages .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

.small__nav .container .wrapper .cart__div .bigger__screen__auth .auth__pages .signup {
  background-color: #f2fcf0;
}

.small__nav .container .wrapper .cart__div .cart {
  margin-left: 10px;
}

.small__nav .container .wrapper .cart__div .cart__body__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.small__nav .container .wrapper .cart__div .cart__body__div p {
  position: absolute;
  top: -7px;
  right: -10px;
  border-radius: 50%;
  padding: 3px 7px;
  background-color: #ad1818;
  color: #e2e2e2;
  font-weight: bold;
  font-size: 14px;
}

.small__nav .container .wrapper .cart__div .icon {
  font-size: 32px;
  font-weight: 400;
  color: #1c2122;
}

@media screen and (max-width: 360px) {
  .small__nav .container .wrapper .cart__div .icon {
    font-size: 26px;
  }
}

.small__nav .container .show__menu {
  display: block !important;
}

.small__nav .container .menu {
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 100vh;
  -webkit-box-shadow: 0px 1px 3px lightgrey;
          box-shadow: 0px 1px 3px lightgrey;
  z-index: 300;
}

.small__nav .container .menu .icon__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 0;
}

.small__nav .container .menu .icon__div svg {
  font-size: 32px;
  cursor: pointer;
}

.small__nav .container .menu .menu__list ul {
  padding: 0;
}

.small__nav .container .menu .menu__list ul li {
  font-weight: normal;
  text-transform: capitalize;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
  list-style: none;
  margin: 20px 0 0;
}

.small__nav .container .menu .menu__list ul li .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
}

.small__nav .container .menu .menu__list ul li .title h3 {
  font-weight: inherit;
}

.small__nav .container .menu .menu__list ul li .show__group {
  display: inline-block !important;
}

.small__nav .container .menu .menu__list ul li .group {
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 100vh;
  -webkit-box-shadow: 0px 1px 3px lightgrey;
          box-shadow: 0px 1px 3px lightgrey;
  z-index: 300;
  padding: 20px 10px 0;
}

.small__nav .container .menu .menu__list ul li .group svg {
  cursor: pointer;
}

.small__nav .container .menu .menu__list ul li .group p {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  margin: 20px 0 0;
  cursor: pointer;
}

.small__nav .container .menu .auth__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  margin: 20px 0;
}

.small__nav .container .menu .auth__pages .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  padding: 0 10px;
  color: #1d1d1df4;
  cursor: pointer;
}

.small__nav .container .menu .auth__pages .btn button {
  color: inherit;
  width: 100%;
  padding: 10px;
}

.small__nav .container .menu .auth__pages .btn svg {
  color: #272727;
}

.small__nav .container .menu .auth__pages .user {
  width: 100%;
}

.small__nav .container .menu .auth__pages .user .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.small__nav .container .menu .auth__pages .user .wrapper .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.small__nav .container .menu .auth__pages .user .wrapper .group h4 {
  text-transform: capitalize;
  font-weight: normal;
}

.small__nav .container .menu .auth__pages .user .wrapper button {
  text-decoration: underline;
  cursor: pointer;
}

.small__nav .container .menu .auth__pages .user .my__account {
  width: 100%;
  background-color: #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  cursor: pointer;
}

.small__nav .container .menu .auth__pages .user .my__account button {
  padding-left: 7px;
}

.small__nav .container .flash__sale {
  background-color: #cf5423;
  width: 100%;
  padding: 15px 7px;
}

.small__nav .container .flash__sale p {
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 1.5em;
}

.small__nav .container .flash__sale .flashing__color {
  color: #d4d4d4;
}

.small__nav .container .flash__sale a {
  color: #2e1402;
  cursor: pointer;
  text-transform: uppercase;
  padding-left: 7px;
}

@media screen and (max-width: 360px) {
  .nav .container .menu {
    height: 100vh;
  }
  .nav .container .menu .auth__pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nav .container .menu .auth__pages .btn {
    width: 100%;
    margin: 10px 0;
  }
  .nav .container .menu .auth__pages .btn button {
    width: auto;
  }
}
/*# sourceMappingURL=smallNav.css.map */