@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;400&display=swap');

.small__nav{
    .container{
        position: relative;
        .overlay{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgb(15, 15, 15);
            opacity: 0.5;
            z-index: 5;
        }
        .wrapper{
            display: flex;   
            justify-content: space-between;
            align-items: center;
            padding:10px 15px;
            z-index: 4;
            .logo{
                display: flex;
                align-items: center;
                a{
                    text-decoration: none;
                    color: inherit;
                    cursor: pointer;
                }
                h3{
                    margin: 0 0 0 7px;
                    padding: 0;
                }
                svg{
                    font-size: 42px;
                    color: #000;
                    background-color: #ff4343;
                    border-radius: 50%;
                    padding: 5px;
                }
            }
            .menu__icon{
                display: flex;
                justify-content: flex-start;
                .icon{
                    font-size: 36px;
                    cursor: pointer;
                }
            }
            .cart__div{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-right: 7px;
                .bigger__screen__auth{
                    display: none;
                    .auth__pages{
                        display: flex;
                        align-items: center;
                        .btn{
                            display: flex;
                            align-items: center;
                            margin: 0 15px;
                        }
                        .signup{
                            background-color: #f2fcf0;
                        }
                    }
                }
                .cart{
                    margin-left: 10px;
                }
                .cart__body__div{
                    display: flex;
                    position: relative;
                    p{
                        position: absolute;
                        top: -7px;
                        right: -10px;
                        border-radius: 50%;
                        padding: 3px 7px;
                        background-color: rgb(173, 24, 24);
                        color: rgb(226, 226, 226);
                        font-weight: bold;
                        font-size: 14px;
                    }
                }
                .icon{
                    font-size: 32px;
                    font-weight: 400;
                    color: rgb(28, 33, 34);
                    @media screen and (max-width:360px){
                        font-size: 26px;
                    }
                }
            }
        }
        .show__menu{
            display: block !important;
        }
        .menu{
            display: none;
            position: fixed;
            top: 0px;
            left: 0;
            max-width: 65%;
            background-color:#fff;
            height: 85vh;
            box-shadow: 0px 1px 3px lightgrey;
            z-index: 300;
            .icon__div{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 10px 10px 0;
                svg{
                    font-size: 32px;
                    cursor: pointer;
                }

            }
            .menu__list{
                ul{
                    padding:0;
                    li{
                        text-transform: capitalize;
                        padding: 10px 20px;
                        border-bottom: 1px solid rgb(224, 224, 224);
                        list-style: none;
                        margin: 20px 0 0;
                        cursor: pointer;
                    }
                }
            }
            .auth__pages{
                margin: 30px 0 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .btn{
                    display: flex;
                    align-items: center;
                    background-color: #f4f4f4;
                    padding: 0 10px;
                    color: #1d1d1df4;
                    cursor: pointer;
                    button{
                        color: inherit;
                        width: 100%;
                        padding: 10px;
                    }
                    svg{
                        color: #272727;
                    }
                }
                .user{
                    width: 100%;
                    .wrapper{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .group{
                            display: flex;
                            align-items: center;
                            h4{
                                text-transform: capitalize;
                                font-weight: normal;
                            }
                        }
                        button{
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                    .my__account{
                        width: 100%;
                        background-color: rgb(219, 219, 219);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        cursor: pointer;
                        button{
                            padding-left: 7px;
                        }
                    }
                }
            }
        }
        .flash__sale{
            // background-color: #171613;
            background-color: rgb(207, 84, 35);
            width: 100%;
            padding:15px 7px;
            p{
                font-family: 'Jost', sans-serif;
                font-weight: 500;
                font-size: 16px;
                color: #fff;
                text-align: center;
                line-height: 1.5em;
            }
            .flashing__color{
                color: #d4d4d4;
            }
            a{
                color: rgb(46, 20, 2);
                cursor: pointer;
                text-transform: uppercase;
                padding-left: 7px;
            }
        }
    }
}


//// media queries

@media screen and (max-width: 360px){
    .nav{
        .container{
            .menu{
                height: 100vh;
                .auth__pages{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    .btn{
                        width: 100%;
                        margin: 10px 0;
                        button{
                            width: auto;
                        }
                    }
                }

            }
        }
    }   
}