.checkout{
    margin: 10px 0 30px;
    .title{
        padding: 10px;
        text-align: center;
        max-width: 85%;
        margin: 0 auto;
        h2{
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin: 10px 0;
        }
        .empty__bag__btn{
            margin: 10px 0;
            background-color: #171613;
            color: #fff;
        }

        h4{
            color: rgb(247, 84, 84);
        }
    }
    .btn{
        text-align: center;
        width: 100%;
        margin: 15px 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        button{
            width: 50%;
            cursor: pointer;
            margin: 5px;
        }
        .checkout__btn{
            background-color: #171613;
            color: #fff;
        }
    }
}