.main__products{
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px;

    img{
        width: 100%;
        min-height: 100%;
    }
    .product{
        position: relative;
        text-align: center;
        margin: 20px 0;
    }
    a{
        cursor: pointer;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, -90%);
        font-size: 26px;
        font-weight: 900;
        color: #fff;
        z-index: 1;
        background-color: rgba(29, 29, 29, 1);
        padding: 10px 15px;
        cursor: pointer;
        text-decoration: none;
    }

}

// media query
@media screen and (min-width: 580px){
    .main__products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 20px;
    }
}