@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;400&display=swap");
.nav .container {
  position: relative;
}

.nav .container .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
  opacity: 0.5;
  z-index: 3;
}

.nav .container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  z-index: 4;
}

.nav .container .wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .container .wrapper .logo a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.nav .container .wrapper .logo h3 {
  margin: 0 0 0 7px;
  padding: 0;
}

.nav .container .wrapper .logo svg {
  font-size: 42px;
  color: #000;
  background-color: #ff4343;
  border-radius: 50%;
  padding: 5px;
}

.nav .container .wrapper .menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav .container .wrapper .menu__icon .icon {
  font-size: 36px;
  cursor: pointer;
}

.nav .container .wrapper .cart__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
}

.nav .container .wrapper .cart__div .cart {
  margin-left: 10px;
}

.nav .container .wrapper .cart__div .cart__body__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.nav .container .wrapper .cart__div .cart__body__div p {
  position: absolute;
  top: -7px;
  right: -10px;
  border-radius: 50%;
  padding: 3px 7px;
  background-color: red;
  color: #e2e2e2;
  font-weight: bold;
}

.nav .container .wrapper .cart__div .icon {
  font-size: 32px;
  font-weight: 400;
  color: #1c2122;
}

@media screen and (max-width: 360px) {
  .nav .container .wrapper .cart__div .icon {
    font-size: 26px;
  }
}

.nav .container .show__menu {
  display: block !important;
}

.nav .container .menu {
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  width: 65%;
  background-color: #fff;
  height: 85vh;
  -webkit-box-shadow: 0px 1px 3px lightgrey;
          box-shadow: 0px 1px 3px lightgrey;
  z-index: 300;
}

.nav .container .menu .icon__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 0;
}

.nav .container .menu .icon__div svg {
  font-size: 32px;
  cursor: pointer;
}

.nav .container .menu .menu__list ul {
  padding: 0;
}

.nav .container .menu .menu__list ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
  list-style: none;
  margin: 20px 0 0;
}

.nav .container .menu .auth__pages {
  margin: 20px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .container .menu .auth__pages .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  padding: 0 10px;
  color: #1d1d1df4;
  cursor: pointer;
}

.nav .container .menu .auth__pages .btn button {
  color: inherit;
  width: 100%;
  padding: 10px;
}

.nav .container .menu .auth__pages .btn svg {
  color: #272727;
}

.nav .container .flash__sale {
  background-color: #171613;
  width: 100%;
  padding: 15px 7px;
}

.nav .container .flash__sale p {
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 1.5em;
}

.nav .container .flash__sale a {
  color: chocolate;
  cursor: pointer;
  text-transform: uppercase;
}
/*# sourceMappingURL=Nav.css.map */