@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;400&display=swap');

.products__section{
    margin: 30px 0;
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media screen and(max-width:360px){
            grid-template-columns: repeat(1, 1fr);
        }
        grid-template-rows: auto;
        grid-gap: 20px;
        width: 100%;
        margin: 0 auto;
        overflow-x: hidden;
        padding: 10px;
        .item{
            // box-shadow: 0px 1px 3px rgb(184, 183, 183);
            a{
                text-decoration: none;
                color: inherit;
                text-transform: capitalize;
            }
            .img{
                position: relative;
                width: 100%;
                margin: 0 auto;
                padding: 10px;
                // box-shadow: 0px 1px 3px rgb(219, 219, 219);
                img{
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                }
        
                .purchase__icon{
                    position: absolute;
                    bottom: 20px;
                    right: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    max-width: fit-content;
                    margin: 0 auto;
                    padding:5px;
                    border-radius: 50%;
                    box-shadow: 0px 2px 2px grey;
                    background-color: rgba(255, 255, 255, 0.7);
                    svg{
                        font-size: 26px;
                        color:#171613;
                        cursor: pointer;
                        &:hover{
                            color: red;
                        }
                    }
                }
            }
            .body{
                padding: 0 10px ;
                p{
                    font-family: 'Jost', sans-serif;
                    max-width: fit-content;
                    cursor: pointer;
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width:360px){
    .item{
        min-width: 160px;
        margin: 0;
    }
}