.product__detail{
    margin: 10px 0 30px ;
    padding: 10px;

    .product__title{
        h3{
            text-transform: capitalize;
            font-size: 26px;
            margin:10px 0;
        }
        p{
            color: rgb(3, 3, 109);
            text-decoration: underline;
            display: flex;
            align-items: center;
            cursor: pointer;
            svg{
                margin-right: 3px;
                font-size: 16px;
            }
        }
    }
    .img{
        margin-top: 30px;
        .default__img{
            box-shadow: 0px 1px 4px grey;
            padding: 10px 20px;
            img{
                width: 100%;
                height: auto;
            }
        }
        .img__container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            grid-gap: 20px;
            margin-top: 10px;
            .display__img{
                box-shadow: 0px 1px 4px grey;
                padding: 10px;    
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                }

                &:hover{
                    outline: 2px solid lightskyblue;
                }
            }
        }
    }
    .price{
        margin: 20px 0;
        p{
           letter-spacing: 1px; 
           color: rgb(59, 59, 59);
        }
    }

    .size__options{
        margin-bottom: 20px;
        select{
            width: 100%;
            padding: 10px;
            font-size: 16px;
            text-transform: uppercase;
            background-color: rgb(241, 241, 241);
        }
    }
    form{
        .fieldset{
            border: none;
            padding: 0;
            .legend__hidden{
                display: none;
            }
            .fieldset__group{
                max-height: 2.75rem;
                max-width: none;
                width: calc(25% - 0.2rem);
                float: left;
                padding: 0;
                margin: 0.5rem 0.5rem 0 0;
                #xs, #xl, #xxl{
                    display: none;
                }
                label{
                    text-transform: uppercase;
                    background-color: rgb(231, 231, 231);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: 10px;
                }
            }
        }
    }
    .add__to__cart{
        margin-top: 40px;
        button{
            width: 100%;
            text-align: center;
            background-color: rgb(49, 133, 1);
            color: #fff;
            border-radius: 0;
        }
    }
}